@import "variables";

.siteFooter {
    position: fixed;
    bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    p {
        font-family: $primary-font;
        font-style: normal;
        font-weight: $font-normal;
        font-size: 20.5414px;
        line-height: 151.5%;
        letter-spacing: -0.01em;
        color: #A5A5A5;
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .siteFooter {
        position: initial;
        margin: 32px auto;
        text-align: center;
        width: fit-content;
        p {
            margin: 0 16px;
        }
    }
}